/* '++++++++++++++++++++++++++++++++++inicio estilos de encabezado nabvar++++++++++++++++++++++++++++++ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* estilos de navbar */

.navbar {
  background-color: rgb(159, 7, 186);
  color: white;
  margin-right: 20px;
  font-size: 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.navbar a {
  color: white;
}

.navbar a:hover {
  color: rgb(223, 164, 234);
}

.slogan span {
  color: black;
  font-size: 30px;
  font-weight: bold;
}

.slogan {
  text-shadow: 2px 2px 2px rgb(25, 25, 26);
}
/* '++++++++++++++++++++++++++++++++++ Fin estilos de encabezado nabvar ++++++++++++++++++++++++++++++ */
/* '++++++++++++++++++++++++++++++++++ inicio estilos de pie de pagina footer++++++++++++++++++++++++++++++ */
.contenedorFooter {
  background-color: white;
  color: rgb(10, 10, 10);
  font-family: "Times New Roman", Times, serif;
  font-size: 15px;
  padding-top: 30px;
}

.datosContactos {
  color: rgb(159, 7, 186);
  font-weight: bold;
}

.contDatos {
  margin-left: 100px;
}

.ContenedorRedes {
  background-color: rgb(159, 7, 186);
  padding-top: 30px;
  padding-bottom: 30px;
}

.redsocial1 a {
  margin: 0;
}

.redsocial1 {
  width: 50px;
  /* Ajuste o valor conforme necessário */
  height: 50px;
  border-radius: 50%;
  background-color: rgb(247, 249, 249);
  margin: 10px;
}

.redsocial1:hover {
  background-color: rgb(104, 4, 129);
}

.redesSociales a {
  color: rgb(159, 7, 186);
  text-decoration: none;
  font-size: 30px;
}

.redesSociales a:hover {
  color: rgb(249, 243, 243);
}

.informacion {
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 10px;
}
.PoliticasPrivacidad {
  text-decoration: none;
  color: rgb(159, 7, 186);
  font-weight: bold;
  border: 20px;
  background-color: white;
  border: solid 2px rgb(159, 7, 186);
  padding: 10px;
  border-radius: 20px;
}
.PoliticasPrivacidad:hover {
  background-color: rgb(159, 7, 186);
  color: white;
}
.derechos {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
}

.derechos span {
  font-weight: bold;
  color: darkgoldenrod;
}
/* Fondo morado del menú Servicios */
.dropdown-menu {
  background-color: rgb(159, 7, 186); /* morado */
  border: none;
  border-radius: 8px;
}

/* Texto blanco */
.dropdown-menu .dropdown-item {
  color: #ffffff;
  font-weight: 500;
}

/* Hover: fondo un poco más oscuro y texto blanco */
.dropdown-menu .dropdown-item:hover {
  background-color: rgb(219, 100, 240); /* morado más oscuro */
  color: #ffffff;
}

/* Quitar efecto azul por defecto de Bootstrap */
.dropdown-menu .dropdown-item:active {
  background-color: #3a006f;
  color: #ffffff;
}
